{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">


        <h1 class="text-center">User index</h1>
        <a href="{{ path('app_admin_index_voiture') }}" class="btn btn-primary mb-3">Voitures</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger mb-3">Logout</a>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|join(', ') : 'None' }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
