{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Voiture index</h1>
        <a href="{{ path('app_admin_index_user') }}" class="btn btn-primary mb-3">Users</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger mb-3">Logout</a>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Année</th>

                </tr>
                </thead>
                <tbody>
                {% for voiture in voitures %}
                    <tr>
                        <td>{{ voiture.id }}</td>
                        <td>{{ voiture.marque }}</td>
                        <td>{{ voiture.modele }}</td>
                        <td>{{ voiture.annee }}</td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_admin_voiture_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
